<section class="p-6 flex flex-col gap-4">
    <span class="w-full text-center font-medium text-xl">Code preview (minimized)</span>

    <pre class="whitespace-pre-wrap break-words bg-[#1a252e] p-2 rounded-lg text-xs text-left shadow-[3px_2px_0px_#141e26] text-white">{{data}}</pre>

    <div class="flex items-center justify-center w-full gap-4">
        <button (click)="CopyCss()" class="flex gap-1 p-2 rounded-full border border-gray-400 border-dashed text-center hover:bg-[#12314d]">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" /><path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" /></svg>
            <span>Copy CSS code</span>
        </button>
        <button (click)="onNoClick()" class="flex gap-1 p-2 rounded-full border border-gray-400 border-dashed text-center hover:bg-[#12314d]">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-circle-dashed-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8.56 3.69a9 9 0 0 0 -2.92 1.95" /><path d="M3.69 8.56a9 9 0 0 0 -.69 3.44" /><path d="M3.69 15.44a9 9 0 0 0 1.95 2.92" /><path d="M8.56 20.31a9 9 0 0 0 3.44 .69" /><path d="M15.44 20.31a9 9 0 0 0 2.92 -1.95" /><path d="M20.31 15.44a9 9 0 0 0 .69 -3.44" /><path d="M20.31 8.56a9 9 0 0 0 -1.95 -2.92" /><path d="M15.44 3.69a9 9 0 0 0 -3.44 -.69" /><path d="M14 14l-4 -4" /><path d="M10 14l4 -4" /></svg>
            <span>Cancel</span>
         </button>
    </div>
</section>
